
body, html {
    height: 100%;
    
}

.card-group {
margin: 0;
min-height: 100%;
}

.d-flex.flex-column.min-vh-100 {
min-height: 100vh;
}

.inicio {
    background-image: url('https://img3.wallspic.com/crops/1/8/4/4/3/134481/134481-guitarra-instrumento_musical_electronico-instrumento_de_cuerda-sica-cuello-1920x1080.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; ;
    padding: 20px;
}


main{
    height: 80vh;
}


p{
    color:orangered

}



.nav-item .nav-link {
    color: white; 
    text-decoration: none;}


    